@model MVC5_Proje1.Models.Entity.TBL_Yazar
@{
    ViewBag.Title = "Yazargetir";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>Yazar Güncelleme Sayfası</h2>

@using (Html.BeginForm("YazarGuncelle","Yazarlar",FormMethod.Post))
{
<div class="form-group">
    <div style="margin-top:20px;"></div>
    <label>Yazar ID</label>
    @Html.TextBoxFor(X => X.Yazarid, new { @class = "form-control" })
    <br />
    <label>Yazar Adı</label>
    @Html.TextBoxFor(x => x.yazarad, new { @class = "form-control" })
    <br />
    <label>Yazar Soyadı</label>
    @Html.TextBoxFor(x => x.yazarsoyad, new { @class = "form-control" })
    <br />
    <label>Yazar Hakkında Detay</label>
    @Html.TextAreaFor(x => x.yazardetay, new { @class = "form-control" })
    <br />
</div>
<div>
    <button class="btn btn-primary" style="background-color:darkslategrey;color:white;" id="btn">Yazar Bilgisini Güncelle</button>
</div>
}
