@model MVC5_Proje1.Models.Entity.TBL_Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>Kategori Ekleme Sayfası</h2>

<form class="form-group" method="post">
    <div style="margin-top:20px;"></div>
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="Ad" />
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-primary" id="btnekle">Kategori Ekle</button>
    </div>
</form>
