
@{
    ViewBag.Title = "DuyuruDetay";
    Layout = "~/Views/Shared/Layoutuye.cshtml";
}
<link href="~/webpanel/css/styles.css" rel="stylesheet" />
<script src="~/webpanel/js/scripts.js"></script>

<table class="table table-hover table-bordered">
    <tr>
        <td>
            <div>
                <h3>@ViewBag.d2</h3> @ViewBag.d3
            </div>
        </td>
        <td>
            <p>@ViewBag.d1</p>
        </td>
    </tr>
</table>



