@model MVC5_Proje1.Models.Entity.TBL_Admin
@{
    ViewBag.Title = "AdminGuncelle";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>Admin Guncelleme Sayfası</h2>

@using (Html.BeginForm("AdminGuncelle", "Ayarlar", FormMethod.Post))
{
    <div>
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(x => x.Kullanici, new { @class = "form-control" }) <br />
        <label>Şifre</label>
        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" }) <br />
        <label>Yetki</label>
        @Html.TextBoxFor(x => x.Yetki, new { @class = "form-control" })<br />
        <button class="btn btn-primary">Güncelle</button>
    </div>
}
