
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı</th>
        <th>Yetki</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Admin</td>
        <td>A</td>
        <td>Success</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
</table>
