@model MVC5_Proje1.Models.Entity.TBL_Personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>PersonelGetir</h2>

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    <div class="form-group">
        <div style="margin-top:20px;"></div>
        @Html.LabelFor(x => x.Personelid) <br />
        @Html.TextBoxFor(x => x.Personelid, new { @class = "form-control" }) <br />
        <label>Personel Adı</label>
        @Html.TextBoxFor(x => x.PersonelAdSoyad, new { @class = "form-control" })
        <br />
    </div>
    <button class="btn btn-primary">Personel Güncelle</button>
}
